<!-- Header -->
<div id="header" style="background-image: url({{ '/images/bg.jpg' | prepend: site.baseurl }})">

  <!-- Mobile Nav -->
  <a id="mobile-nav" class="toggle">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>

  <!-- Inner -->
  <div class="inner">
    <style>
      h1 {
        color: white;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
      }
    </style>
    <header>
      <h1>
        <a href="" id="logo">
          {% if page.title %}
            <small>David Watson</small>
            {{ page.title }}
          {% else %}
            David Watson
          {% endif %}
        </a>
      </h1>
    </header>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <style>
      ul {
        color: white;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
      }
    </style>
    <ul>
      <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
      <li {% if page.url == "/publications/" %}class="active"{% endif %}><a href="{{ '/publications/' | prepend: site.baseurl }}">Publications</a></li>
      <li {% if page.url == "/cv/" %}class="active"{% endif %}><a href="{{ '/cv/' | prepend: site.baseurl }}">CV</a></li>
    </ul>
  </nav>

</div>

