<head>
  <title>{% if page.title %}{{ page.title | escape | prepend: 'David Watson | ' }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="canonical" href="{{ /page.url | replace:'index.html','' | prepend: site.url | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/helios.css' | prepend: site.baseurl}}" />
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ '/css/academicons.min.css' | prepend: site.baseurl }}"/> 
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@1/css/academicons.min.css"/> -->
  
	<link rel="icon" sizes="32x32" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />
	

  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
 